<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Ruby gems mirror">
    <meta name="author" content="Pierre Rambaud">

    <title>Gemirro - a simple ruby gems mirror</title>

    <%=
      stylesheet_link_tag(
      "/dist/css/bootstrap.min.css",
      "/dist/css/gemirro.css",
      :media => "screen"
    ) %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1>Gemirro</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <%= yield %>
        </div>
      </div>
    </div>
    <%=
      javascript_script_tag(
      "/dist/js/jquery-3.2.1.slim.min.js",
      "/dist/js/bootstrap.bundle.min.js",
      :media => "screen"
    ) %>
  </body>
</html>
